.nav-link, .navbar-brand {
    text-decoration: none;
    color: white;
}
.dropdown-item {
    text-decoration: none;
}
#mainNav {
    background: black;
}
.pima-avatar {
    min-width: 100%;
    height: auto;
}