---
layout: post
year: 2018
title: Lectures and Projects
use-story-js: true
lectures:
  - title: Đại số tuyến tính
    href: "#"
    authors:
    - name: Trần Hoàng Bảo Linh
      aff: National University of Singapore, Singapore
    - name: Cấn Trần Thành Trung
      aff: CalTech Institute, USA
    - name: Nguyễn Trung Nghĩa
      aff: Ho Chi Minh University of Science, Vietnam
  - title: Đại số tuyến tính
    href: "#"
    authors:
    - name: Trần Hoàng Bảo Linh
      aff: National University of Singapore, Singapore
    - name: Cấn Trần Thành Trung
      aff: CalTech Institute, USA
    - name: Nguyễn Trung Nghĩa
      aff: Ho Chi Minh University of Science, Vietnam
projects:
  - title: Lorem ipsum
    href: "#"
    desc: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
---

<h3>Lectures</h3><br>

{% for lect in page.lectures %}
<h4>{{ lect.title }}</h4>
<p><em>Tác giả:</em></p>
<ul>
    {% for author in lect.authors %}
    <li><strong>{{ author.name }}</strong>, {{ author.aff }}</li>
    {% endfor %}
</ul>
<ul class="actions stacked">
    <li><a href="{{ lect.href }}" class="button">Download</a></li>
</ul>
<br>
{% endfor %}

<hr>

<h3>Projects</h3><br>

{% for proj in page.projects %}
<h4>{{ proj.title }}</h4>
<p>{{ proj.desc }}</p>
<ul class="actions stacked">
    <li><a href="{{ proj.href }}" class="button">Download</a></li>
</ul>
{% endfor %}

<hr>
