---
layout: post
---

{% for post in paginator.posts %}
<section>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <em>Posted on: {{ post.date | date: "%-d/%-m/%Y" }}{% if post.author %}, by {{ post.author }}{% endif %}</em>
    <hr>

    {% if post.feature-img %}
    <div class="post-image-feature">
        <img class="feature-image" src="{{ site.url }}{{ post.feature-img }}" alt>
    </div>
    {% endif %}
    {% if post.excerpt %}
    <p>
        {{ post.excerpt }}
    </p>
    <em><a href="{{ post.url }}" style="padding-left: 3em;">Read more >>></a></em>
    {% endif %}
</section>
<br><br>
{% endfor %}

{% if paginator.total_pages > 1 %}
<section class="style1 align-center">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.url }}/{{ site.paginate_path | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</section>
{% endif %}



