---
layout: post
---

<h3 style="text-align: center; text-decoration: underline;">Lectures</h3><br>
<div class="index align-left">
{% for lect in page.lectures %}
    <section>
        <header><h3>{{ lect.title }}</h3></header>
        <div class="content">
            <ul>
                {% for tempauthor in lect.authors %}
                {% assign author = site.data.organizers | map: tempauthor %}
                {% if author[0] %}
                <li><strong>{{ author[0].name }}</strong>, {{ author[0].aff }}</li>
                {% else %}
                <li>Cannot find field <em>{{ tempauthor }}</em> in <em>organizers.yaml</em></li>
                {% endif %}
                {% endfor %}
            </ul>
            <ul class="actions stacked">
                <li><a href="{{ site.url }}{{ lect.href }}" class="button">Download</a></li>
            </ul>
        </div>
    </section>
    <br>
{% endfor %}
</div>

<hr>

<h3 style="text-align: center; text-decoration: underline;">Projects</h3><br>
<div class="index align-left">
{% for proj in page.projects %}
    <section>
        <header><h3>{{ proj.title }}</h3></header>
        <div class="content">
            <p>{{ proj.desc }}</p>
            <ul class="actions stacked">
                <li><a href="{{ site.url }}{{ proj.href }}" class="button">Download</a></li>
            </ul>
        </div>
    </section>
    <br>
{% endfor %}
</div>

<hr>
