---
layout: post
---

<h3>Lectures</h3><br>

{% for lect in page.lectures %}
<h4>{{ lect.title }}</h4>
<p><em>Tác giả:</em></p>
<ul>
    {% for author in lect.authors %}
    <li><strong>{{ author.name }}</strong>, {{ author.aff }}</li>
    {% endfor %}
</ul>
<ul class="actions stacked">
    <li><a href="{{ lect.href }}" class="button">Download</a></li>
</ul>
<br>
{% endfor %}

<hr>

<h3>Projects</h3><br>

{% for proj in page.projects %}
<h4>{{ proj.title }}</h4>
<p>{{ proj.desc }}</p>
<ul class="actions stacked">
    <li><a href="{{ proj.href }}" class="button">Download</a></li>
</ul>
{% endfor %}

<hr>
